<html>
<head>
  <title>Svoyak</title>
</head>
<body>
  This is your button. There are many like it, but this one is yours
  <script>
    var loc = window.location, new_uri;
    if (loc.protocol === "https:") {
      ws_uri = "wss:";
    } else {
      ws_uri = "ws:";
    }
    ws_uri += "//" + loc.host;
    ws_uri += "/join-session/{{.ID}}";
    let socket = new WebSocket(ws_uri);
    console.log("Attempting Connection...");

    socket.onopen = () => {
      console.log("Successfully Connected");
      socket.send("{'action': 'join'}")
    };

    socket.onmessage = function (e) {
      console.log("Socket got data: ", e.data);
      //window.location.href = e.data;
    };

    socket.onclose = event => {
      console.log("Socket Closed Connection: ", event);
    };

    socket.onerror = error => {
      console.log("Socket Error: ", error);
    };

  </script>
</body>
</html>
